[user]
  name = Shinpei Kawahito
  email = kawahito.shinpei@gmail.com
[pull]
  default = current
[push]
  default = current
[color]
	ui = true
[alias]
	st = status
	br = branch
	ps = push
	pl = pull
	co = checkout
  cm = commit -a -m
	l = log
