[url "git@github.com:"]
  insteadOf = https://github.com/
[user]
  name = Shinpei Kawahito
  email = kawahito.shinpei@gmail.com
[pull]
  default = current
[push]
  default = current
[color]
  ui = true
[alias]
  a = add
  br = branch
  cm = commit -a -m
  co = checkout
  df = diff
  l = log
  pr = pull-request
  ps = push
  pl = pull
  st = status
[merge]
	tool = vimdiff
